<div class="hero-unit">

		<h1>Welcome to ContractON</h1>
	<div class = "divider">
		<li>For Contractors:
		<%= link_to "Sign In!", '#', class: "btn btn-large btn-primary" %> <%= link_to "Sign Up Now!", '#', class: "btn btn-large btn-primary" %></li>
		<li>For Company:
		<%= link_to "Sign In!", csignin_path, class: "btn btn-large btn-primary" %> <%= link_to "Sign Up Now!", csignup_path, class: "btn btn-large btn-primary" %> <%= link_to "See current users!", cshow_path, class: "btn btn-large btn-primary" %></li>
		<li>	For Companys searching Contractors: 
		<%= link_to "See Preliminary Search", '#', class: "btn btn-large btn-primary" %></li>
	</div>
				


</div>
