<h1>Company Profile</h1>
<h2>This is page for company Profile</h2>
<div class="row">
	<div class="span6 offset3">
	<table border="1">
	<form action="#">
	
	<tr>
		<th>Name</th>
		<th>Industry</th>
	
		
       </tr>
<<<<<<< HEAD
       <tr> <%@Company.each do |c| %>
                <td><%= c.name %></td>
		<td><%= c.industry %></td>
		<td><%=link_to "Enter", '#'%></td>
		
=======
       <tr>
        <td><%= @Company.name %></td>
		<td><%= @Company.industry %></td>
		<td><%=link_to "Edit", '#'%></td>
>>>>>>> 12cdededfa2f91a1b50df119f4c8cfd1ca619a6a
	</tr>

      <% end %>
</table>
	</div>
</div>

