<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
	<body>
	  <header class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
		  <%flash.each do |key, value| %>
			  <div class="alert alert-<%= key %>"><%= value %></div>
		  <% end %>
	        <div class="container">
	          <%= link_to "ContractON LOGO", '#', id: "logo" %>
	          <nav>
	            <ul class="nav pull-right">
	              <li><%= link_to "Home",    root_path %></li>
		      	  <li><%= link_to "Help",    '#' %></li>
		      	<% if signed_in? %>
			      <li><%= link_to "Companies", '#' %></li>
			      <li id ="fat-medu" class="dropdown">
			      <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Account </a>
			  	  </li>

			      <ul class="dropdown-menu">
				      <li><%= link_to "Profile", current_company %></li>
				      <li><%=link_to "Settings", '#'%></li>
				      <li>
				      <%=link_to "Sign out", signout_path, method: "delete" %>
				      </li>
		           </ul>
	      		<% else %>
		      		<li><%= link_to "Sign in", '#' %> </li>
	      		<% end %>

	            </ul>
	          </nav>
	        </div>
	      </div>
	  </header>
      <div class="container">
		<%= yield %>
	  </div>
	</body>
</html>
